<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"
  />
  <meta name="keywords" content="<%= page.keywords %>" />
  <meta name="description" content="<%= page.description %>" />
  <title><%= page.title %></title>
  <link rel="stylesheet" href="static/css/normalize.css" />
  <link rel="stylesheet" href="styles/layout.css" />
  <link rel="stylesheet" href="static/swiper-4.5.3/css/swiper.min.css" />
  <link rel="stylesheet" href="styles/layout-header.css" />
  <link rel="stylesheet" href="styles/layout-footer.css" />
  <link rel="stylesheet" href="styles/<%= page.pageName %>.css" />
  <link rel="canonical" href="<%= page.canonical %>" />
</head>
