<% page.h1 && page.h1.forEach(function(_h1, index){ %>
<h1 class="hide"><%= _h1 %></h1>
<% }); %> <% page.h2 && page.h2.forEach(function(_h2, index){ %>
<h2 class="hide"><%= _h2 %></h2>
<% }); %>
<header class="header">
  <a href="https://www.scyouzan.cn/" class="header-item">
    <img src="./static/assets/logo.png" alt="" />
  </a>
  <a
    href="https://www.scyouzan.cn/"
    class="header-item-text <%= page.grandfather == 'index' ? 'active' : '' %>"
    >首页</a
  >
  <a
    href="https://www.scyouzan.cn/0yuan/"
    class="
      header-item-text
      <%=
      page.grandfather
      ==
      'price02'
      ?
      'active'
      :
      ''
      %>
    "
    >0元咨询</a
  >
  <a
    href="https://www.scyouzan.cn/services/"
    class="
      header-item-text
      <%=
      page.grandfather
      ==
      'serviceitems03'
      ?
      'active'
      :
      ''
      %>
    "
    >服务项目</a
  >
  <a
    href="https://www.scyouzan.cn/operations/"
    class="
      header-item-text
      <%=
      page.grandfather
      ==
      'operation04'
      ?
      'active'
      :
      ''
      %>
    "
    >运营服务</a
  >

  <a
    href="https://www.scyouzan.cn/cases/"
    class="
      header-item-text
      <%=
      page.grandfather
      ==
      'client05'
      ?
      'active'
      :
      ''
      %>
    "
    >客户案例</a
  >

  <a
    href="https://www.scyouzan.cn/aboutus/"
    class="
      header-item-text
      <%=
      page.grandfather
      ==
      'companyprofile06'
      ?
      'active'
      :
      ''
      %>
    "
    >公司简介</a
  >
</header>
